node-red/flows.json
[{"id":"86f748a4fdeb045e","type":"tab","label":"Main","disabled":false,"info":"","env":[]},{"id":"db94b4c117de2f6a","type":"subflow","name":"Get WebSettings","info":"","category":"","in":[{"x":120,"y":200,"wires":[{"id":"d074d283a8713b57"}]}],"out":[{"x":1500,"y":200,"wires":[{"id":"a9d6b94d12b279b8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"43652557380ac3f3","type":"subflow","name":"Get PageContent","info":"","category":"","in":[{"x":60,"y":240,"wires":[{"id":"f4ed528cde3cabe7"}]}],"out":[{"x":1820,"y":340,"wires":[{"id":"193590a736c24869","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"0d6121cfccf91882","type":"group","z":"86f748a4fdeb045e","name":"Endpoint","style":{"fill":"#bfbfbf","fill-opacity":"0.54","label":true},"nodes":["248d64bf4e74f440","a404b305e8f838e6","fc57c59e7b1b413d","4070528fbaa047ab","55d1d622afec35e2","98d7ea7aa5c93ad4","ac7bdd1609da7c77","ddd0873c9d611a5e","29426a6eb03efe81","a71320aa58eef18a","269002ef959b2b77"],"x":54,"y":59,"w":1612,"h":142},{"id":"d117c7356571213c","type":"group","z":"86f748a4fdeb045e","name":"Get enviroment var","style":{"label":true},"nodes":["142bfed266d194f2","5c191a8883f08d75"],"x":1774,"y":59,"w":212,"h":122},{"id":"afc6fa2bb250f63c","type":"junction","z":"43652557380ac3f3","x":1500,"y":160,"wires":[["1d2a94a05f330839"]]},{"id":"c02e24bfe2197802","type":"junction","z":"43652557380ac3f3","x":700,"y":540,"wires":[["e4fc06b7c36a80c5"]]},{"id":"269002ef959b2b77","type":"junction","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","x":560,"y":100,"wires":[["a71320aa58eef18a"]]},{"id":"bb96674ebd01af04","type":"junction","z":"db94b4c117de2f6a","x":1160,"y":160,"wires":[["a9d6b94d12b279b8"]]},{"id":"88e4c1ff6d0333f9","type":"change","z":"db94b4c117de2f6a","name":"New setting template","rules":[{"t":"set","p":"payload.webSettings","pt":"msg","to":"{\t    \"settings\": {\t        \"idleTimeout\": 1800000\t    },\t\t    \"acceptances\": {\t        \"login\": false,\t        \"rules\": false,\t        \"grants\": false\t    },\t\t    \"state\": {\t        \"isRunning\": false,\t        \"lastStep\": {},\t        \"lastState\": {}\t    },\t\t    \"currentSession\": {\t        \"isConnected\": \"n/a\",\t        \"lastPingMillis\": 0\t    }\t    \t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":200,"wires":[["7e2c077d488fba02"]]},{"id":"a9d6b94d12b279b8","type":"json","z":"db94b4c117de2f6a","name":"","property":"payload.webSettings","action":"obj","pretty":false,"x":1310,"y":200,"wires":[[]]},{"id":"c69a20e302b88549","type":"change","z":"db94b4c117de2f6a","name":"Load settings","rules":[{"t":"set","p":"payload.webSettings","pt":"msg","to":"#:(storeInFile)::webSettings","tot":"global"},{"t":"set","p":"payload.webData","pt":"msg","to":"webData","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":160,"wires":[["bb96674ebd01af04"]]},{"id":"eae97dc11278dc8c","type":"switch","z":"db94b4c117de2f6a","name":"","property":"webSettings","propertyType":"global","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":180,"wires":[["c69a20e302b88549"],["88e4c1ff6d0333f9"]]},{"id":"7e2c077d488fba02","type":"change","z":"db94b4c117de2f6a","name":"","rules":[{"t":"set","p":"webSettings","pt":"global","to":"payload.webSettings","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":200,"wires":[["a9d6b94d12b279b8"]]},{"id":"ae14111b4808cbf3","type":"comment","z":"db94b4c117de2f6a","name":"Load web settings","info":"","x":690,"y":140,"wires":[]},{"id":"d074d283a8713b57","type":"switch","z":"db94b4c117de2f6a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":200,"wires":[["eae97dc11278dc8c"],["ff29c1cf4e1ad18a"]]},{"id":"ff29c1cf4e1ad18a","type":"change","z":"db94b4c117de2f6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["eae97dc11278dc8c"]]},{"id":"96b58e9ab49097dd","type":"comment","z":"db94b4c117de2f6a","name":"Set payload as object","info":"","x":320,"y":160,"wires":[]},{"id":"357f74e2631da4c9","type":"switch","z":"43652557380ac3f3","name":"","property":"payload.page","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":560,"wires":[["c02e24bfe2197802"],["7e1f73ec1d40cafe"]]},{"id":"4c886c495ce2fe9d","type":"template","z":"43652557380ac3f3","name":"page: start","field":"payload.pageContent","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"card-container mb-3\">\n    <!-- card-container -->\n\n    {{{payload.pageElements.lastRunCard}}}\n    \n    {{{payload.pageElements.actionsCard}}}\n    \n    {{{payload.pageElements.newRunCard}}}\n\n    <!-- /card-container -->\n</div>","output":"str","x":1130,"y":500,"wires":[["1c7f385619f6a12d"]]},{"id":"1c7f385619f6a12d","type":"change","z":"43652557380ac3f3","name":"set page title","rules":[{"t":"set","p":"payload.pageTitle","pt":"msg","to":"Start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":500,"wires":[["afc6fa2bb250f63c"]]},{"id":"32eb88cfb3101407","type":"template","z":"43652557380ac3f3","name":"set full page HTML","field":"payload.pageHTML","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>AutoWorkLet - Randers Kommune</title>\n        <link href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css\" rel=\"stylesheet\">\n        <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4\" crossorigin=\"anonymous\"></script>\n        <style>{{{css}}}</style>\n    </head>\n    <body>\n<div id=\"fullPage\" style=\"width: 100%;height:100%\">\n<!-- -->\n\n\n{{{payload.pageElements.navbar}}}\n\n<div class=\"progress-container collapsed\">\n\n    <div class=\"uppercase fs-10 fw-500 mb-1\" style=\"width:100%;text-align: center;\">Robotten arbejder ... 56%</div>\n\n    <div class=\"progress bg-dark\">\n        <div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"75\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 75%;\"></div>\n    </div>\n\n\n</div>\n\n    \n  \n<div class=\"container site-container mt-3\">\n    <!-- site -->\n\n    <ol class=\"breadcrumb\">\n        <li class=\"breadcrumb-item active\">{{{payload.pageTitle}}}</li>\n    </ol>\n\n    <div id=\"alertParent\">\n        <div class=\"alert alert-dismissible hidden\" id=\"alertBox\">\n            <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\"></button>\n            <h4 class=\"alert-heading\" id=\"alertBox-heading\">Warning!</h4>\n            <p class=\"mb-0\" id=\"alertBox-body\">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href=\"#\" class=\"alert-link\">vel scelerisque nisl consectetur et</a>.</p>\n        </div>\n    </div>\n\n    <div id=\"pageContent\">\n        {{{payload.pageContent}}}\n    </div>\n\n    <!-- /site -->\n</div>\n\n\n\n\n\n</div>\n<!-- -->\n\n    <script>{{{js}}}</script>\n    </body>\n</html>","output":"str","x":1790,"y":200,"wires":[["193590a736c24869"]]},{"id":"f4ed528cde3cabe7","type":"subflow:db94b4c117de2f6a","z":"43652557380ac3f3","name":"","x":190,"y":240,"wires":[["d64936a739a436db"]]},{"id":"1d2a94a05f330839","type":"function","z":"43652557380ac3f3","name":"element: navbar","func":"// Set menu html\n\nvar dataExists = global.get(\"webData\") !== null && global.get(\"webData\") !== undefined;\n\nvar currentRunExists = global.get(\"runHistory\", \"storeInFile\") !== null && global.get(\"runHistory\", \"storeInFile\") !== undefined && (\n    Array.isArray(global.get(\"runHistory\", \"storeInFile\")) ? !(global.get(\"runHistory\", \"storeInFile\")[(global.get(\"runHistory\", \"storeInFile\")).length - 1]).isFinalized : !(global.get(\"runHistory\", \"storeInFile\")).isFinalized);\n\nvar currentRun = currentRunExists ?\n    Array.isArray(global.get(\"runHistory\", \"storeInFile\")) ?\n        global.get(\"runHistory\", \"storeInFile\")[(global.get(\"runHistory\", \"storeInFile\")).length - 1]\n        : global.get(\"runHistory\", \"storeInFile\") : null;\n\nconst receiptsAwaiting = currentRunExists ? !currentRun.allReceiptsProcessed : false;\nconst isBeingProcessed = currentRunExists ? !currentRun.isFinalized : false;\n\n\nfunction isActive(pageName)\n{\n    return (msg.payload.webSettings.state.activePage == pageName);\n}\nfunction pageAccepted(pageName)\n{\n    return (msg.payload.webSettings.acceptances[pageName]);\n}\n\nvar html = `<nav class=\"navbar navbar-expand-lg navbar-dark bg-primary\" >\n    <div class=\"container-fluid\">\n        <a class=\"navbar-brand randers-logo\" onclick=\"goToPage('start')\"></a>\n        <a class=\"navbar-brand randers-titel\" onclick=\"goToPage('start')\"></a>\n        <ul class=\"navbar-nav me-auto\">\n            <li class=\"nav-item\">\n                <a id=\"nav_start\" class=\"nav-link`+\n                (isActive('start') ? \" active\" : \"\")\n                +`\" onclick=\"goToPage('start')\">Start</a>\n            </li>\n            <li class=\"nav-item\">\n                <a id=\"nav_login\" class=\"nav-link`+\n                (isActive('login') ? \" active\" : \"\") + \n                (pageAccepted('login') ? \" nav-success\" : \"\")\n                +`\" onclick=\"goToPage('login')\">Loginoplysninger</a>\n            </li>\n            <li class=\"nav-item\">\n                <a id=\"nav_rules\" class=\"nav-link`+\n                (isActive('rules') ? \" active\" : \"\") +\n                (pageAccepted('rules') ? \" nav-success\" : \"\")\n                +`\" onclick=\"goToPage('rules')\">Forretningsregler</a>\n            </li>\n            <li class=\"nav-item\">\n                <a id=\"nav_grants\" class=\"nav-link`+\n                (isActive('grants') ? \" active\" : \"\") +\n                (pageAccepted('grants') ? \" nav-success\" : \"\")\n                +`\" onclick=\"goToPage('grants')\">Tilskudssatser</a>\n            </li>`;\n\n\nvar receiptCount = 0;\n\nif (global.get(\"webData\") !== undefined)\n    if (global.get(\"webData\")[\"citizens-actions\"] !== undefined)\n        receiptCount += global.get(\"webData\")[\"citizens-actions\"].length;\n\nif (global.get(\"webData\") !== undefined)\n    if (global.get(\"webData\")[\"citizens-noactions\"] !== undefined)\n        receiptCount += global.get(\"webData\")[\"citizens-noactions\"].length;\n\n\nif (msg.payload.webSettings.state.isRunning )\n        html +=\n            `<li class=\"nav-item\">\n            <a id=\"nav_run\" class=\"nav-link`+\n            (isActive('run') ? \" active\" : \"\")\n            + `\" onclick=\"goToPage('run')\">` +\n            `Robotten kører<i class=\"fa-lg fas fa-spinner fa-spin\" style=\"margin-left: 10px\"></i>`\n            + `</a>\n        </li>`;\nelse if ((isBeingProcessed && !dataExists) || (receiptsAwaiting && receiptCount == 0))\n    html +=\n        `<li class=\"nav-item\">\n            <a id=\"nav_run\" class=\"nav-link`+\n            (isActive('run') ? \" active\" : \"\")\n            + `\" onclick=\"goToPage('run')\">Genoptag kørsel</a>\n        </li>`;\n\nelse if (receiptsAwaiting && isBeingProcessed)\n    html +=\n        `<li class=\"nav-item\">\n            <a id=\"nav_view-receipts\" class=\"nav-link`+\n            (isActive('view-receipts') ? \" active\" : \"\")\n            + `\" onclick=\"goToPage('view-receipts')\">Anbefalede handlinger</a>\n        </li>`\n    +  `<li class=\"nav-item\">\n            <a id=\"nav_view-nograntreceipts\" class=\"nav-link`+\n            (isActive('view-nograntreceipts') ? \" active\" : \"\")\n            + `\" onclick=\"goToPage('view-nograntreceipts')\">Borgere uden bevilling</a>\n        </li>`;\n\nelse if (!receiptsAwaiting && isBeingProcessed)\n    html +=\n        `<li class=\"nav-item\">\n            <a id=\"nav_view-receipts\" class=\"nav-link`+\n        (isActive('view-receipts') ? \" active\" : \"\")\n        + `\" onclick=\"goToPage('view-receipts')\">Anbefalede handlinger</a>\n        </li>`\n        + `<li class=\"nav-item\">\n            <a id=\"nav_view-nograntreceipts\" class=\"nav-link`+\n        (isActive('view-nograntreceipts') ? \" active\" : \"\")\n        + `\" onclick=\"goToPage('view-nograntreceipts')\">Borgere uden bevilling</a>\n        </li>`\n        +\n        `<li class=\"nav-item\">\n            <a id=\"nav_run\" class=\"nav-link`+\n            (isActive('run') ? \" active\" : \"\")\n            +`\" onclick=\"goToPage('run')\">Afslut kørsel</a>\n        </li>`;\n\nelse if (pageAccepted('login') && pageAccepted('rules') && pageAccepted('grants'))\n    html +=\n        `<li class=\"nav-item\">\n            <a id=\"nav_run\" class=\"nav-link`+\n            (isActive('run') ? \" active\" : \"\")\n            + `\" onclick=\"goToPage('run')\">` +\n            (msg.payload.webSettings.state.isRunning ? `Robotten kører<i class=\"fa-lg fas fa-spinner fa-spin\" style=\"margin-left: 10px\"></i>` : `Ny kørsel`)\n            + `</a>\n        </li>`;\n\n\n/*\n\n            (receiptsAwaiting && isBeingProcessed ?\n            (`<li class=\"nav-item\">\n                                    <a id=\"nav_view-receipts\" class=\"nav-link`+\n                (isActive('view-receipts') ? \" active\" : \"\")\n                + `\" onclick=\"goToPage('view-receipts')\">Anbefalede handlinger</a>\n                        </li>`)\n            +\n            (`<li class=\"nav-item\">\n                                    <a id=\"nav_view-nograntreceipts\" class=\"nav-link`+\n                (isActive('view-nograntreceipts') ? \" active\" : \"\")\n                + `\" onclick=\"goToPage('view-nograntreceipts')\">Ej berettigede borgere</a>\n                        </li>`) : ``)\n            +\n\n            ((isBeingProcessed && !dataExists) ? \n                ` <li class=\"nav-item\">\n                                    <a id=\"nav_run\" class=\"nav-link`+\n                (isActive('run') ? \" active\" : \"\") +\n                (pageAccepted('grants') ? \" nav-success\" : \"\") +\n                + `\" onclick=\"goToPage('run')\">Genoptag kørsel</a>\n                    </li>`\n                :\n\n\n                ((!receiptsAwaiting && isBeingProcessed) ? \n                ` <li class=\"nav-item\">\n                        <a id=\"nav_run\" class=\"nav-link`+\n                (isActive('run') ? \" active\" : \"\") +\n                +`\" onclick=\"goToPage('run')\">Afslut kørsel</a>\n                    </li>`\n                :\n                \n                ((pageAccepted('login') && pageAccepted('rules') && pageAccepted('grants')) ?\n                `<li class=\"nav-item\">\n                    <a id=\"nav_run\" class=\"nav-link`+\n                    (isActive('run') ? \" active\" : \"\")\n                    +`\" onclick=\"goToPage('run')\">`+\n                    (msg.payload.webSettings.state.isRunning ? `Robotten kører<i class=\"fa-lg fas fa-spinner fa-spin\" style=\"margin-left: 10px\"></i>` : `Ny kørsel`)\n                    +`</a>\n                </li>` : ``))\n            )\n\n*/\nhtml += `\n        </ul>\n    </div>\n</nav >`;\n\nmsg.payload.pageElements['navbar'] = html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":80,"wires":[["32eb88cfb3101407"]]},{"id":"b51ae96408813a15","type":"change","z":"43652557380ac3f3","name":"","rules":[{"t":"set","p":"payload.pageElements","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":265,"y":560,"wires":[["357f74e2631da4c9"]],"l":false},{"id":"e4fc06b7c36a80c5","type":"template","z":"43652557380ac3f3","name":"element: newRunCard","field":"payload.pageElements.newRunCard","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"card {{payload.pageElements.newRunCardClasses}}\">\n    <div class=\"card-header\">{{payload.pageElements.newRunCardHeader}}</div>\n    <div class=\"card-body\">\n       {{{payload.pageElements.newRunCardBody}}}\n    </div>\n</div>","output":"str","x":880,"y":540,"wires":[["4c886c495ce2fe9d"]]},{"id":"d5e098f6bd51179b","type":"change","z":"43652557380ac3f3","name":"Set ActivePage","rules":[{"t":"set","p":"webSettings.state.activePage","pt":"global","to":"payload.page","tot":"msg"},{"t":"set","p":"payload.webSettings.state.activePage","pt":"msg","to":"payload.page","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":560,"wires":[["b51ae96408813a15"]]},{"id":"7e1f73ec1d40cafe","type":"change","z":"43652557380ac3f3","name":"Set ActivePage","rules":[{"t":"set","p":"#:(storeInFile)::webSettings.state.activePage","pt":"global","to":"start","tot":"str"},{"t":"set","p":"payload.webSettings.state.activePage","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":580,"wires":[["c02e24bfe2197802"]]},{"id":"b50802089303913c","type":"switch","z":"43652557380ac3f3","name":"","property":"diff","propertyType":"msg","rules":[{"t":"gt","v":"payload.webSettings.settings.idleTimeout","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":340,"wires":[["69aaa1828fd4b85b"],["ab622e75bfcfc759"]]},{"id":"ab622e75bfcfc759","type":"change","z":"43652557380ac3f3","name":"set lastPingMillis","rules":[{"t":"set","p":"payload.webSettings.currentSession.lastPingMillis","pt":"msg","to":"$millis()","tot":"jsonata"},{"t":"set","p":"#:(storeInFile)::webSettings.currentSession.lastPingMillis","pt":"global","to":"payload.webSettings.currentSession.lastPingMillis","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["d5e098f6bd51179b"]]},{"id":"d64936a739a436db","type":"change","z":"43652557380ac3f3","name":"Check last ping","rules":[{"t":"set","p":"now","pt":"msg","to":"$millis()","tot":"jsonata"},{"t":"set","p":"diff","pt":"msg","to":"now - payload.webSettings.currentSession.lastPingMillis","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":300,"wires":[["b50802089303913c"]]},{"id":"69aaa1828fd4b85b","type":"change","z":"43652557380ac3f3","name":"","rules":[{"t":"set","p":"payload.webSettings.acceptances.login","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload.webSettings.acceptances.rules","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload.webSettings.acceptances.grants","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"#:(storeInFile)::webSettings","pt":"global","to":"payload.webSettings","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["ab622e75bfcfc759"]]},{"id":"193590a736c24869","type":"template","z":"43652557380ac3f3","name":"set body HTML","field":"payload.bodyHTML","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.pageElements.navbar}}}\n\n<!--div class=\"progress-container collapsed\">\n\n    <div class=\"uppercase fs-10 fw-500 mb-1\" style=\"width:100%;text-align: center;\">Robotten arbejder ... 56%</div>\n\n    <div class=\"progress bg-dark\">\n        <div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"75\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 75%;\"></div>\n    </div>\n\n\n</div-->\n\n  \n<div class=\"container site-container mt-3\">\n    <!-- site -->\n\n    <ol class=\"breadcrumb\">\n        <li class=\"breadcrumb-item active\">{{{payload.pageTitle}}}</li>\n    </ol>\n\n    <div id=\"alertParent\">\n        <div class=\"alert alert-dismissible hidden\" id=\"alertBox\">\n            <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\"></button>\n            <h4 class=\"alert-heading\" id=\"alertBox-heading\">Warning!</h4>\n            <p class=\"mb-0\" id=\"alertBox-body\">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href=\"#\" class=\"alert-link\">vel scelerisque nisl consectetur et</a>.</p>\n        </div>\n    </div>\n\n\n    <div id=\"pageContent\">\n        {{{payload.pageContent}}}\n    </div>\n\n    <!-- /site -->\n</div>","output":"str","x":1800,"y":240,"wires":[[]]},{"id":"142bfed266d194f2","type":"template","z":"86f748a4fdeb045e","g":"d117c7356571213c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{env.NY_ENV_VAR}} !","output":"str","x":1860,"y":100,"wires":[[]]},{"id":"5c191a8883f08d75","type":"change","z":"86f748a4fdeb045e","g":"d117c7356571213c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NY_ENV_VAR","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":140,"wires":[[]]},{"id":"248d64bf4e74f440","type":"http in","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"","url":"/start","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["fc57c59e7b1b413d"]]},{"id":"a404b305e8f838e6","type":"http in","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"","url":"/:page","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["4070528fbaa047ab"]]},{"id":"fc57c59e7b1b413d","type":"change","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"","rules":[{"t":"set","p":"payload.page","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["269002ef959b2b77"]]},{"id":"4070528fbaa047ab","type":"change","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"","rules":[{"t":"set","p":"payload.page","pt":"msg","to":"req.params.page","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["269002ef959b2b77"]]},{"id":"55d1d622afec35e2","type":"http response","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"","statusCode":"","headers":{},"x":1590,"y":160,"wires":[]},{"id":"98d7ea7aa5c93ad4","type":"template","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"CSS","field":"css","fieldType":"msg","format":"css","syntax":"mustache","template":"@import url(\"https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css\"); /* Bootstrap */\n@import url(\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css\"); /* Bootswatch template */\n@font-face {\n  font-family: 'password';\n  font-style: normal;\n  font-weight: 400;\n  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);\n}\n\na:hover\n{\n    cursor: pointer;\n}\n\n/* Changes to Boostrap CSS */\n.bg-primary {\n    background-color: #325d88!important;\n}\n.border-light\n{\n    border-color: lightgray!important;\n}\n.tab-content\n{\n    border: 1px solid lightgray;\n    border-bottom-left-radius: 5px;\n    border-bottom-right-radius: 5px;\n    border-top-right-radius: 5px;\n}\n.nav-link \n{\n    padding-left: 20px;\n    padding-right: 20px;\n}\n.row\n{\n    display: flex;\n    justify-content: stretch;\n}\n    .row > *\n    {\n        flex-grow: 1;\n    }\n.d-flex.justify-stretch\n{\n    justify-content: stretch;\n}\n.d-flex.justify-stretch > *{\n    flex-grow: 1;\n}\n.page-item.archived .page-link {\n    background-color: #E9F3DB!important;\n}\n.page-item.archived.active .page-link {\n    background-color: #D8E1CB!important;\n}\n\n\nbody\n{\n    background-color: whitesmoke;\n}\n\n\n\n/* Randers design */ \n.randers-logo {\n    background-image: url('https://www.randers.dk/static/logo.svg');\n    background-position: 5px 5px;\n    background-size: 85%;\n    background-repeat: no-repeat;\n    width: 200px;\n    height: 50px;\n}\n\n\n/* Custom style classes */\n.nav-success \n{\n    color: #71b355!important;\n}\n.nav-success:hover\n{\n    color: #a6d151!important;\n}\n.nav-success.active\n{\n    color: #a6d151!important;\n}\n.uppercase\n{\n    text-transform: uppercase;\n}\n.fs-10\n{\n    font-size: 10px;\n}\n.fs-11\n{\n    font-size: 11px;\n}\n.fs-12\n{\n    font-size: 12px;\n}\n.fs-13\n{\n    font-size: 13px;\n}\n.fs-lg\n{\n    font-size: 24px;\n}\n.fw-500\n{\n    font-weight: 500;\n}\n.border-none, .border-none *\n{\n    border: 0px!important;\n}\n.hidden\n{\n    display: none;\n}\n.no-border-bottom\n{\n    border-bottom: 0px!important;\n}\n.no-border-bottom *\n{\n    border-bottom: 0px!important;\n}\n\n/* Custom elements */\n.progress-container\n{\n    background-color: lightgray;\n    padding: 15px 25px;\n}\n.progress-container.collapsed\n{\n    max-height: 0px;\n    overflow: hidden;\n    padding: 0px;\n}\n/*\n.site-container\n{\n}\n*/\n.card-container\n{\n    display: flex;\n    justify-content: stretch;\n    gap: 10px;\n}\n    .card-container .card\n    {\n        flex: 1;\n    }\n.receipt-inner\n{\n    display: flex;\n    gap: 10px;\n    min-height: 40vh;\n}\n    .receipt-inner > *\n    {\n        flex-grow: 1;\n    }\n    .receipt-inner > .citizen-info\n    {\n        max-width: 25rem;\n    }\n.pagination-container\n{\n    display: flex;\n    justify-content: center;\n    gap: 10px;\n}\n    .pagination-container > button\n    {\n        height: 38px;\n    }\n.table-header\n{\n    font-size: 10px;\n    text-transform: uppercase;\n    font-weight: 500;\n}\n.card.header-left\n{\n    margin-left: 20px;display:flex;flex-direction:row;\n}\n.card-header.header-left\n{\n    border-top-right-radius: 0px!important;\n    border-bottom: 0px;\n}","output":"str","x":1110,"y":100,"wires":[["29426a6eb03efe81"]]},{"id":"ac7bdd1609da7c77","type":"template","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"JS","field":"js","fieldType":"msg","format":"javascript","syntax":"mustache","template":"//\n/// INITIALIZE\n//\n\nvar rules = {{{payload.rulesStr}}};\n\n//\n/// SET PAGE CONTENT FUNCTION\n//\n\nvar activePage = \"{{payload.webSettings.state.activePage}}\";\n\nfunction goToPage(page)\n{\n    var pageName = \"\";\n    var paramName = \"\";\n    var paramValue = \"\";\n    // Works with 1 param only \n\n    if(page.includes(\"?\"))\n    {\n        var split = page.split(\"?\");\n        pageName = split[0];\n\n        split = split[1].split(\"=\");\n        paramName = split[0];\n        paramValue = split[1];\n    }\n\n    var obj = {};\n\n    if(pageName == \"\")\n        obj = {\"requestType\": \"getPageContent\", \"page\": page};\n\n    else\n    {\n        obj = { \"requestType\": \"getPageContent\", \"page\": pageName };\n        obj[paramName] = paramValue;\n    }\n\n    postRequest(obj);\n}\n\nfunction setPageContent(pageObj, setHistory = true)\n{\n    setInnerHTML(\"fullPage\", pageObj.html);\n    document.title = \"AutoWorkLet - \" + pageObj.title;\n\n    if(setHistory)\n        window.history.pushState({ \"page\": pageObj }, \"\", \"/\" + pageObj.url);\n\n    activePage = pageObj.url;\n\n    //console.log(\"Setting page content using JS\");\n\n    if (loadPageFunc[pageObj.url] != null)\n        loadPageFunc[pageObj.url]();\n\n}\n\nwindow.onpopstate = function (e)\n{\n    if (e.state)\n        setPageContent(e.state.page, false);\n};\n\n\n\n//\n/// NODE-RED INTEGRATION / COMMUNICATION\n//\n\nfunction toJSON(...vars)\n{\n    var obj = {};\n\n    for (let i = 0; i < vars.length; i++)\n        obj[vars[i].id] = vars[i].value;\n\n    return obj;\n}\n\nfunction postRequest(object)\n{\n    //console.log(\"HTTP request: \" + object);\n    fetch('/worklet/http', {\n        method: 'POST',\n        headers: {\n            'Accept': 'application/json',\n            'Content-Type': 'application/json'\n        },\n        body: JSON.stringify(object)\n    })\n        .then(response => response.json())\n        .then(response => handlePostResponse(response));\n        //.then(response => console.log(JSON.stringify(response)));\n}\n\n\nfunction handlePostResponse(responseObject)\n{\n    // Call function depending on request type\n\n    if (handleResponseDynamically[responseObject.requestType] != null)\n        handleResponseDynamically[responseObject.requestType](responseObject);\n        \n    return responseObject;\n}\n\n\nvar handleResponseDynamically = [];\n\n// Dynamic response handling\n\nhandleResponseDynamically['getPageContent'] = function(response)\n{\n    if(response.page != null)\n        setPageContent(response.page);\n}\n\n\n//\n/// GENERIC FUNCTIONS\n//\n\nfunction setInnerHTML(objectId, content) {\n    var container = document.getElementById(objectId);\n    container.innerHTML = content;\n}\n\nfunction setStyle(objectId, styleVar, styleValue) {\n    var object = document.getElementById(objectId);\n    object.style[styleVar] = styleValue;\n}\n\nfunction toggleHide(objectId)\n{\n    var object = document.getElementById(objectId);\n    object.classList.toggle(\"hidden\");\n}\nfunction hide(objectId) {\n    var object = document.getElementById(objectId);\n    if(!object.classList.contains(\"hidden\"))\n        object.classList.add(\"hidden\");\n}\nfunction reloadPage()\n{\n    goToPage(activePage);\n}\nfunction roundNumber(num)\n{\n    return Math.round((num + Number.EPSILON) * 100) / 100;\n}\n\n\n\n//\n/// LATE START / INITIALIZATION\n//\n\nvar landingPage = \"{{{payload.page}}}\";\n\n\n//\n/// ON PAGE LOAD FUNCTIONS\n//\n\nvar loadPageFunc = [];\n\nloadPageFunc[\"start\"] = function ()\n{\n    // console.log(\"Running load func for page start\");\n}\n\nif (loadPageFunc[landingPage] != null)\n    loadPageFunc[landingPage]();\n\n\n\n//\n/// WEB SOCKET (node-red)\n//\n\nvar ws;\nvar wsUri = \"ws:\";\nvar loc = window.location; //console.log(loc);\n\nif (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n// This needs to point to the web socket in the Node-RED flow\nwsUri += \"//\" + loc.host + \"/ws/worklet\";\n\nfunction wsConnect()\n{\n    //console.log(\"Connecting to \", wsUri);\n    ws = new WebSocket(wsUri);\n    //var line = \"\";    // either uncomment this for a building list of messages\n    ws.onmessage = function (msg)\n    {\n\n        var data = msg.data;\n        const obj = JSON.parse(data);\n        //const obj = data;\n        \n        displayWsMessage(obj);\n        //console.log(\"Received WS message: \" + JSON.stringify(obj));\n        \n    }\n    ws.onopen = function () {\n        // update the status div with the connection status\n        console.log(\"Connected to WS\");\n    }\n    ws.onclose = function () {\n        // update the status div with the connection status\n        console.log(\"WS connection lost\");\n        // in case of lost connection tries to reconnect every 3 secs\n        setTimeout(wsConnect, 3000);\n    }\n}\nfunction PublishWsMessage(m)\n{\n    if (ws) { ws.send(m); }\n}\n\nwsConnect();\n\n\nfunction displayWsMessage(ws)\n{\n    //console.log(\"Displaying ws object: \" + ws);\n    //console.log(\"Displaying ws object (stringify): \" + JSON.stringify(ws));\n\n    if(ws.type == \"alert\")\n    {\n        var obj = document.getElementById(\"alertBox\");\n\n        if (obj == null) {\n            var html = `\n            <div class=\"alert alert-dismissible alert-warning\" id=\"alertBox\">\n                <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\"></button>\n                <h4 class=\"alert-heading\" id=\"alertBox-heading\">` + ws.title + `</h4>\n                <p class=\"mb-0\" id=\"alertBox-body\">` + ws.msg + `</p>\n            </div>`;\n            document.getElementById(\"alertParent\").innerHTML = html;\n            return;\n        }\n\n        obj.classList.add(\"alert-warning\");\n        obj.classList.remove(\"hidden\");\n\n        document.getElementById(\"alertBox-heading\").innerHTML = ws.title;\n        document.getElementById(\"alertBox-body\").innerHTML = ws.message;\n    }\n\n    else if(ws.type == \"update\")\n    {\n        var obj = document.getElementById(\"statusText\");\n\n        if(obj != null)\n        {\n            obj.classList.remove(\"hidden\");\n            obj.innerHTML = \"Status: \" + ws.message;\n        }\n\n    }\n\n}","output":"str","x":970,"y":100,"wires":[["98d7ea7aa5c93ad4"]]},{"id":"ddd0873c9d611a5e","type":"change","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"HTML","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pageHTML","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":160,"wires":[["55d1d622afec35e2"]]},{"id":"29426a6eb03efe81","type":"subflow:43652557380ac3f3","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"","x":1110,"y":160,"wires":[["ddd0873c9d611a5e"]]},{"id":"a71320aa58eef18a","type":"subflow:db94b4c117de2f6a","z":"86f748a4fdeb045e","g":"0d6121cfccf91882","name":"","x":730,"y":100,"wires":[["ac7bdd1609da7c77"]]}]