node-red/flows.json
[{"id":"86f748a4fdeb045e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7f4350317219e634","type":"http in","z":"86f748a4fdeb045e","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":260,"y":400,"wires":[["48ba0ee317a4297d"]]},{"id":"142bfed266d194f2","type":"template","z":"86f748a4fdeb045e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{env.NY_ENV_VAR}} !","output":"str","x":760,"y":400,"wires":[["2b59671b1320353c"]]},{"id":"2b59671b1320353c","type":"http response","z":"86f748a4fdeb045e","name":"","statusCode":"","headers":{},"x":930,"y":400,"wires":[]},{"id":"6a5f7c19af6d9f75","type":"json","z":"86f748a4fdeb045e","name":"","property":"payload","action":"str","pretty":false,"x":610,"y":400,"wires":[["142bfed266d194f2"]]},{"id":"48ba0ee317a4297d","type":"change","z":"86f748a4fdeb045e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Her er noget tekst","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["6a5f7c19af6d9f75"]]},{"id":"5c191a8883f08d75","type":"change","z":"86f748a4fdeb045e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NY_ENV_VAR","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":440,"wires":[[]]},{"id":"cbcd78b7ad513d79","type":"comment","z":"86f748a4fdeb045e","name":"Env var på webflade","info":"","x":290,"y":360,"wires":[]}]
